@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  /* override bootstrap font family */
  font-family: "Montserrat", sans-serif !important;
}

.logo-title-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title-layout:hover {
  text-decoration: none;
}

.logo-title-font, .logo-title-font-white {
  font-weight: 700;
  font-size: 48px;
  
  margin: 0;
}

.logo-title-font {
  color: #5B3080;
}

.logo-title-font-white {
  color: white;
}

.top-bar-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-layout {
  padding: 1rem;
  background-color: #5B3080;
}

.navbar-nav a {
  color: lightgray !important;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 2rem;
}

.navbar-nav a:focus,
.navbar-nav a:hover,
.navbar-nav a.disabled {
  color: white !important;
}

.home-join-font {
  font-weight: 400;
  font-size: 32px;
  color: white;
}

.home-join-layout {
  margin: auto;
  width: 60%;
  text-align: center;
}

.home-img {
  margin: auto;
  display: block;
}

.home-join-button-font, join-button-font {
  font-weight: 700;
  font-size: 18px;
}

.position-block-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.position-image {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.join-calendar-layout {
  border: 1px solid #EBEBEB !important;
  border-radius: 12px;
  box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
  padding: 2rem;
  width: 100% !important;
}

.toggleb-block-accordion {
  width: 100%;
  border-bottom: 2px solid lightgray;
  margin-bottom: 1rem;
}

.toggleb-block-button {
  color: #5B3080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toggleb-block-accordion button:hover, .toggleb-block-accordion button:focus {
  text-decoration: none;
}

.toggleb-block-accordion button:focus {
  box-shadow: none;
}

.nav-dropdown button {
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-menu {
  background-color: #5B3080 !important;
  border: none !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #5B3080 !important;
}

.ann-block-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ann-popover-layout {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  width: 200%;
  display: block;
  max-width: 50%;
}

.ann-popover-layout.popover {
  max-width: 30%;
}