@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  /* override bootstrap font family */
  font-family: "Montserrat", sans-serif !important; 
}

.logo-title-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title-layout:hover {
  text-decoration: none;
}

.logo-title-font {
  font-weight: 700;
  font-size: 48px;
  color: #5B3080;
  margin: 0;
}

.top-bar-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-font li a, .nav-bar-font a {
  color: #171717;
  font-weight: 500;
  font-size: 20px;
}

.home-join-font {
  font-weight: 400;
  font-size: 25px;
  color: #171717;
}

.home-join-layout {
  margin: auto;
  width: 60%;
  text-align: center;
}

.home-join-button-font, join-button-font {
  font-weight: 700;
  font-size: 18px;
}

.position-block-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.position-image {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.join-calendar-layout {
  border: 1px solid #EBEBEB !important;
  border-radius: 12px;
  box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
  padding: 2rem;
  width: 100% !important;
}

.toggleb-block-accordion {
  width: 100%;
  border-bottom: 2px solid lightgray;
  margin-bottom: 1rem;
}

.toggleb-block-button {
  color: #5B3080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toggleb-block-accordion button:hover, .toggleb-block-accordion button:focus {
  text-decoration: none;
}

.toggleb-block-accordion button:focus {
  box-shadow: none;
}

.nav-dropdown button {
  background-color: transparent;
  border: none;
  color: #171717;
  font-weight: 500;
  font-size: 20px;
}